@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #C71D1D;
    color: #e1e1e1;
    padding: 8px;
}

.header h1:hover{
    opacity: 0.5;
    transition-delay: 0.08s;
    cursor: pointer;
}

.header img:hover{
    opacity: 0.5;
    transition-delay: 0.08s;
    cursor: pointer;
}

.headerbuttons h2{
    background-color: #EBA1A1;
    border: #EBA1A1;
    border-radius: 15px;
    display: inline;
    padding: 5px 5px 5px 5px;
}

.headerbuttons h2:hover{
    opacity: 0.5;
    transition-delay: 0.008s;
    cursor: pointer;
}

.headersearch{
    background-color: #e1e1e1;
    border: #e1e1e1;
    border-radius: 15px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
}

.headersearch h2{
    color: #1a1a1a;
    cursor:text;
    font-size: smaller;
    font-style: italic;
    align-self: baseline;
}

.navbar{
    background-color: #1a1a1a;
    height: 50px;
    width: 100%;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    color: #e1e1e1;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.heroland{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imagenes/acompañamiento/hero_poster_wallpaper.jpg");
    height: 800px;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
}

.herotext{
    text-align: center;
    position: absolute;
    top: 40%;
    bottom: 50%;
    color: #e1e1e1;
    width: 100%;
    margin: 0 auto;
}

.herotext h1{
    font-size: 112px;
    color: #C71D1D;
    font-weight: 900;
}

.herotext h2{
    font-size: 42px;
    font-weight: 900;
    color: #e1e1e1;
}

.directores{
    display: flex;
    width: 50%;
}

.directores img:hover{
    transition-delay: 0.08s;
    cursor: pointer;
    opacity: 0.5;
}

.directores_texto{
    background-color: white;
}

.directores_texto p1{
    color: #C71D1D;
    font-weight: bolder;
    cursor: pointer;
}

.directores_texto small{
    color: #C71D1D;
    font-style: italic;
}

.noticias{
    display: flex;
    width: 50%;
}

.cards_noticias img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition-delay: 0.08s;
}

.cards_1{
    background-color: white;
}

.cards_1 p1{
    color: #C71D1D;
    font-weight: bolder;
    cursor: pointer;
}

.cards_1 small{
    color: #C71D1D;
    font-style: italic;
}

.cards_2{
    background-color: white;
}

.cards_2 p1{
    color: #C71D1D;
    font-weight: bolder;
    cursor: pointer;
}

.cards_2 small{
    color: #C71D1D;
    font-style: italic;
}

.cards_3{
    background-color: white;
}

.cards_3 p1{
    color: #C71D1D;
    font-weight: bolder;
    cursor: pointer;
}

.cards_3 small{
    color: #C71D1D;
    font-style: italic;
}

.cards_4{
    background-color: white;
}

.cards_4 p1{
    color: #C71D1D;
    font-weight: bolder;
    cursor: pointer;
}

.cards_4 small{
    color: #C71D1D;
    font-style: italic;
}

.cards_peliculas img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition-delay: 0.08s;
}
}

.actores_texto{
    background-color: white;
}

.actores_texto p1{
    color: #C71D1D;
    font-weight: bolder;
}

.actores_texto small{
    color: #C71D1D;
    font-style: italic;
}

body{
    background-color: #E9E9E9;
}

footer{
    background-color: #1a1a1a;
    color: #e1e1e1;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
}

.footer_two{
    text-align: center;
}

.footer_three{
    text-align: right;
}